In [1]:
#string method title() - to convert string into title case
name='namita singla'
print(name)

namita singla

In [2]:
print(name.title())

Namita Singla

In [3]:
#upper() - to convert string into upper case
print(name.upper())

NAMITA SINGLA

In [4]:
#lower() - to convert string into lower case
print(name.lower())

namita singla

In [5]:
#string concatination 
#introduction to fstrings

fname='namita'
lname='singla'
fullname= f"{fname}{lname}"

In [6]:
print(fullname)

namitasingla

In [7]:
fname='namita'
lname='singla'
fullname= f"{fname} {lname}"

In [8]:
print(fullname.title())

Namita Singla

In [9]:
#to concatinate a constant string, constant string mentioned as 1st parameter

#e.g. Req-add an appreciation message in front of name

message= f "Well done ",{fullname.title()}
print(message)

SyntaxError: invalid syntax (<ipython-input-9-d1cde95eeac5>, line 5)

In [10]:
#to concatinate a constant string, constant string mentioned as 1st parameter

#e.g. Req-add an appreciation message in front of name

message= f "Well done ,{fullname.title()}"
print(message)

SyntaxError: invalid syntax (<ipython-input-10-a3f117bd1d1e>, line 5)

In [11]:
message= f"Well done,{fullname.title()}"
print(message)

Well done,Namita Singla

In [12]:
#Adding whitespaces to strings
#req- Print Student Details

print("Student_Detail: NameRollnoClassSectionMarks")

Student_Detail: NameRollnoClassSectionMarks

In [13]:
#its not readable, to make it readable use delimiters
\n - new line delimiter
print("Student_Detail: \nName\nRollno\nClass\nSection\nMarks")

SyntaxError: unexpected character after line continuation character (<ipython-input-13-4de9ba8abc45>, line 2)

In [14]:
#its not readable, to make it readable use delimiters
#\n - new line delimiter
print("Student_Detail: \nName\nRollno\nClass\nSection\nMarks")

Student_Detail:
Name
Rollno
Class
Section
Marks

In [15]:
# \t - Tab delimiter
print("Student_Detail: \n\tName\n\tRollno\n\tClass\n\tSection\n\tMarks")

Student_Detail:
	Name
	Rollno
	Class
	Section
	Marks

In [16]:
#Removing Whitwspaces from string
name = 'Namita'
name1 = '  Namita'
name2 = 'Namita  '
print(name)
print(name1)
print(name2)

Namita
  Namita
Namita

In [17]:
#lstrip() function to remove left side whitespace
print(name1.lstrip())
#rstrip() to remove right side  whitespace
print(name2.rstrip())

Namita
Namita

In [19]:
#to remove both left and right side spaces strip() is used
name3 = '  Namita  '
print(name3.strip())

Namita

In [20]:
#Also strip() does not remove spaces from middle of string
name4= '  Namita Singla  '
print(name4)

  Namita Singla

In [21]:
print(name4.strip())

Namita Singla